body {background:#000 url("../img/tlo.jpg") no-repeat center top}
#menu {font:italic bold 26px georgia,sans-serif;padding:30px;list-style:none}
#menu li {float:left;padding-right:12px}
#menu li a {display:block;font-size:24px;color:#05080a;line-height:1.2em;text-decoration:none}
#menu li span {font-size:30px;display:inline-block;margin-top:-4px}
#menu li a:hover, #menu #menu_aktywne a {color:#6a0000}
.strona {margin:0 auto;width:920px}
#logo {background:url(../img/logo.png) no-repeat;width:420px;height:44px}
#trybik {background:url(../img/trybik.png) no-repeat;width:80px;height:80px}
#plaster{background:url(../img/plaster.png) no-repeat;width:322px;height:55px}
#salon_margaretka{background:url(../img/salon_margaretka.png) no-repeat;width:135px;height:133px;margin-top:-10px;margin-left:85px}
#zsoio{background:url(../img/zsoio.png) no-repeat;width:135px;height:126px;margin-top:10px;margin-left:85px}
#dalej{background:url(../img/dalej.png) no-repeat;width:58px;height:44px}
h1 {margin-top:80px;margin-left:50px}
h2 {font-size:26px;line-height:58px;padding-left:85px}
h3 {font-size:26px;line-height:58px;padding-left:60px}
h4 {margin-top:-75px;margin-left:140px}
h5 {font-weight:normal;font-size:10px;margin-top:-7px}
#kartka {text-align:justify;width:460px;margin-left:70px;margin-top:170px;line-height:30px}
#kartka span {font-size:28px;display:inline-block;margin-top:-4px}
.fiszka{margin-left:20px}
.fiszka li {list-style:none;position:absolute}
.fiszka input {display:none}
.fiszka label {background-color:#111;background-image:linear-gradient(transparent,hsla(0,0%,0%,.25));border:.2em solid transparent;bottom:.5em;border-radius:100%;cursor:pointer;display:block;height:.5em;left:24em;opacity:0;position:absolute;transition:.25s;width:.5em;visibility:hidden;z-index:10}
.fiszka label:after {border-radius:100%;bottom:-.2em;box-shadow:inset 0 0 0 .2em #111,inset 0 2px 2px #000,0 1px 1px hsla(0,0%,100%,.25);content:'';left:-.2em;position:absolute;right:-.2em;top:-.2em}
.fiszka:hover label {opacity:1;visibility:visible}
.fiszka input:checked +label {background-color:#fff}
.fiszka:hover li:nth-child(1) label {left:.5em}
.fiszka:hover li:nth-child(2) label {left:2em}
.fiszka:hover li:nth-child(3) label {left:3.5em}
.fiszka:hover li:nth-child(4) label {left:5em}
.fiszka img {height:449px;width:337px;vertical-align:top;visibility:hidden;border-radius:20px 20px 20px 20px}
.fiszka li input:checked ~img {opacity:1;visibility:visible;z-index:10}
#banery{margin-left:620px;margin-top:-300px}
#filmik_pierwszy{margin-top:17px;margin-left:5px;border:0.5mm ridge #000;background:#000}
#filmik_drugi{margin-top:27px;margin-left:5px;border:0.5mm ridge #000;background:#000}
#stopka {font-size:12px;color:#a3a3a3;margin-top:5px;margin-left:200px}
#stopka a {color:#a3a3a3;text-decoration:none}
#stopka2 {font-size:12px;color:#a3a3a3;margin-top:120px;margin-left:200px}
#stopka2 a {color:#a3a3a3;text-decoration:none}
#stopka3{font-size:12px;color:#a3a3a3;margin-top:365px;margin-left:200px}
#stopka3 a {color:#a3a3a3;text-decoration:none}
#stopka4{font-size:12px;color:#a3a3a3;margin-top:65px;margin-left:200px}
#stopka4 a {color:#a3a3a3;text-decoration:none}
#stopka5{font-size:12px;color:#a3a3a3;margin-top:72px;margin-left:200px}
#stopka5 a {color:#a3a3a3;text-decoration:none}
#stopka6{font-size:12px;color:#a3a3a3;margin-top:73px;margin-left:200px}
#stopka6 a {color:#a3a3a3;text-decoration:none}
#stopka7{font-size:12px;color:#a3a3a3;margin-top:410px;margin-left:200px}
#stopka7 a {color:#a3a3a3;text-decoration:none}
#map {height:460px;width:460px}
#przycisk{margin-top:210px;margin-left:520px;width:70px;text-decoration:none}
#przycisk2{margin-top:95px;margin-left:520px;width:70px;text-decoration:none}
#przycisk3{margin-top:-55px;margin-left:10px;width:70px;text-decoration:none}
#przycisk4{margin-top:134px;margin-left:10px;width:70px;text-decoration:none}
.plan_zajec ,.plan_zajec td,.plan_zajec th{font-size:8px;text-align:center;padding:10px;border-collapse:collapse;table-layout:fixed;border:1px solid #000}
.kurczaki{font-size:12px;width:460px;border-spacing:10px 0px}
th.kurczaki_1_kolumna {font-weight:normal;text-align:right;font-style:italic;padding:0px}
td.kurczaki_1_kolumna {font-weight:bold;text-align:right;padding:0px}
th.kurczaki_2_kolumna {font-weight:normal;text-align:center;font-style:italic;padding:0px}
td.kurczaki_2_kolumna {font-weight:normal;text-align:center;font-style:italic;padding:0px}
th.kurczaki_3_kolumna {font-weight:normal;text-align:center;font-style:italic;padding:0px}
td.kurczaki_3_kolumna {font-weight:normal;text-align:center;padding:0px}
th.kurczaki_4_kolumna {font-weight:normal;text-align:center;font-style:italic;padding:0px}
td.kurczaki_4_kolumna {font-weight:normal;text-align:center;padding:0px}
th.kurczaki_5_kolumna {font-weight:normal;text-align:left;font-style:italic;padding:0px}
td.kurczaki_5_kolumna {font-weight:normal;text-align:left;padding:0px}
.wieki{font-size:9px;width:460px;border-spacing:0px 0px}
th.wieki_1_kolumna {font-weight:normal;text-align:left;font-style:italic}
td.wieki_1_kolumna {font-weight:normal;text-align:left;font-style:italic}
th.wieki_2_kolumna {font-weight:normal;text-align:left;padding-left:10px}
td.wieki_2_kolumna {font-weight:normal;text-align:left;padding-left:10px}
th.wieki_3_kolumna {font-weight:normal;text-align:right;padding-right:10px}
td.wieki_3_kolumna {font-weight:normal;text-align:right;padding-right:10px}
th.wieki_4_kolumna {font-weight:normal;text-align:left;font-style:italic;padding-left:10px}
td.wieki_4_kolumna {font-weight:normal;text-align:left;font-style:italic;padding-left:10px}
th.wieki_5_kolumna {font-weight:normal;text-align:left;padding-left:10px}
td.wieki_5_kolumna {font-weight:normal;text-align:left;padding-left:10px}
th.wieki_6_kolumna {font-weight:normal;text-align:right;padding-right:70px}
td.wieki_6_kolumna {font-weight:normal;text-align:right;padding-right:70px}
.populacja{width:200px;border-spacing:0px 0px;border:1px solid black}
th.populacja_1_kolumna {font-size:10px;font-weight:normal;text-align:center;border-bottom:1px solid black;border-right:1px solid black}
td.populacja_1_kolumna {font-size:9px;font-weight:normal;text-align:right;border-right:1px solid black;padding-right:20px}
th.populacja_2_kolumna {font-size:10px;font-weight:normal;text-align:center;border-bottom:1px solid black}
td.populacja_2_kolumna {font-size:9px;font-weight:normal;text-align:right;padding-right:16px}
.att{width:220px;font-size:10px;border-spacing:0px 0px;border-left:1px solid black;border-right:1px solid black;border-top:1px solid black}
th.att_1_kolumna {font-weight:normal;border-bottom:1px solid black;text-align:center}
td.att_1_kolumna {font-weight:normal;border-bottom:1px solid black;border-right:1px solid black;text-align:right;padding-right:23px}
td.att_01_kolumna {font-weight:normal;border-bottom:1px solid black;border-right:1px solid black}
td.att_02_kolumna {font-weight:normal;border-bottom:1px solid black;border-right:1px solid black}
td.att_03_kolumna {font-weight:normal;border-bottom:1px solid black}
td.att_2_kolumna {width:70px;font-weight:normal;border-bottom:1px solid black;border-right:1px solid black;text-align:center}
td.att_3_kolumna {font-weight:normal;border-bottom:1px solid black;text-align:right;padding-right:25px}
tr.att_2_wiersz {font-weight:normal;border-bottom:1px solid black;text-align:center}
.worksheet{font-size:13px}
th.worksheet_1_kolumna {font-weight:normal;width:10px}
th.worksheet_2_kolumna {font-weight:normal}
th.worksheet_3_kolumna {font-weight:normal}
td.worksheet_1_kolumna {font-weight:normal;width:10px}
td.worksheet_2_kolumna {font-weight:normal}
td.worksheet_3_kolumna {font-weight:normal;text-align:right}
.chart{width:460px;font-size:12px;border-spacing:0px 0px}
td.chart_1_kolumna {padding-left:15px}
td.chart_01_kolumna {border-top:1px solid black}
td.chart_02_kolumna {padding-left:15px;border-bottom:1px solid black;border-right:1px solid black}
td.chart_002_kolumna {border-right:1px solid black;border-left:1px solid black}
td.chart_0002_kolumna {padding-left:15px;border-bottom:1px solid black;border-left:1px solid black}
td.chart_00002_kolumna {border-left:1px solid black}
td.chart_000002_kolumna {border-left:1px solid black}
th.chart_3_kolumna {padding-left:15px;font-weight:normal}
td.chart_3_kolumna {padding-left:15px}
td.chart_03_kolumna {padding-left:15px;border-bottom:1px solid black;border-left:1px solid black}
td.chart_003_kolumna {padding-left:15px;border-bottom:1px solid black}
td.chart_0003_kolumna {border-top:1px solid black}
td.chart_00003_kolumna {border-left:1px solid black;border-top:1px solid black}